body{
    background-color: #240101;
}

.hmcvr {
    background: #240101;
    height:  268px;
    border-bottom-left-radius:  31px;
    border-bottom-right-radius: 31px;
}

.nav {
    margin-top: 0!important;
    background: rgba(14,19,24,.15)!important;
}

.cnt {
    margin-top: 0!important;
}


button#Advertise {
    background: #240101;
    color: #d7ee08;
}

.cvtp {
    position:  absolute;
    margin-top: 95px;
    left: 50%;
    margin-left:  -100px;
}

.bfr {
    background: #240101;
    color: #d7ee08;
    margin-left: -151px;
    padding: 12px;
    border-radius: 12px;
    margin-top:  27px;
    height:  44px;
    width: 493px;
}

input#_xrge {
    position:  absolute;
    width: 128px;
    text-align: center;
}

.rgnd {
    position: absolute;
    margin-left:  156px;
    font-size:  110px;
    margin-top:  -60px;
}

input#_yrge {
    position: absolute;
    margin-left: 210px;
    width: 128px;
    text-align:  center;
}

button#_gorge {
    position: absolute;
    margin-left: 360px;
    width:  128px;
}
._hmdsd{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

._hmdsd {
    background: transparent;
    width: 1298px;
    margin-left: 25px;
    margin-top:  15px;
    padding:  12px;
}

._adt {
    background-color: #240101;
    color: #d7ee08;
    width: 267px;
    height: 299px;
    border-radius: 12px;
}

div#admaker {
    background: #240101;
    color: #d7ee08;
    width: fit-content;
    padding: 5px;
    border-radius: 17px;
    font-weight: 900;
    font-size: 13px;
    cursor: pointer;
    padding-left: 14px;
    padding-right: 13px;
    margin-top: 10px;
    position:  absolute;
    margin-left: 190px;
}


.adbdy {
    margin-top: 41px;
    position:  absolute;
}

div#tpy {
    font-size:  75px;
    margin-left:  13px;
}

div#mdma {
    background: #240101;
    color: #d7ee08;
    width: fit-content;
    padding: 5px;
    border-radius: 17px;
    font-weight: 900;
    font-size: 13px;
    cursor: pointer;
    padding-left: 14px;
    padding-right: 13px;
    margin-left:  69px;
}

div#adpr {
    font-size: 25px;
    margin-top:  24px;
    font-weight:  900;
    text-align:  center;
}

button#bynow {
    margin-top: 246px;
    width: 228px;
    margin-left: 18px;
}

._sdcl {
    margin-top: 19px;
}